<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="matthew.shannon.jamfam">

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".app.App"
        android:icon="@drawable/vibe_tribe"
        android:label="@string/app_name"
        android:theme="@style/Vibe_Tribe_Theme">

        <activity
            android:name=".feature.Intro.splash.SplashView"
            android:label="@string/app_name"
            android:theme="@style/Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".feature.Intro.welcome.WelcomeView"
            android:label="Welcome"
            android:theme="@style/Intro"/>

        <activity
            android:name=".feature.Intro.access.AccessView"
            android:label="Access"
            android:theme="@style/Intro"/>

        <activity
            android:name=".feature.Intro.signup.SignupView"
            android:label="Signup"
            android:theme="@style/Intro"/>

        <activity
            android:name=".feature.Intro.login.LoginView"
            android:label="Login"
            android:theme="@style/Intro"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.home.HomeView"
            android:label="VibeTribe"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.search.SearchView"
            android:label=""
            android:parentActivityName="matthew.shannon.jamfam.feature.home.HomeView"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.about.AboutView"
            android:label="About"
            android:parentActivityName="matthew.shannon.jamfam.feature.home.HomeView"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.message.MessageView"
            android:label="Messages"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.profile.ProfileView"
            android:label="Profile"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.settings.SettingsView"
            android:label="Settings"
            android:parentActivityName="matthew.shannon.jamfam.feature.home.HomeView"/>

        <activity
            android:name="matthew.shannon.jamfam.feature.logout.LogoutView"
            android:label="About"/>

        <activity
            android:name="rx_activity_result.HolderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Transparent" />

        <activity android:name="com.yalantis.ucrop.UCropActivity" />

        <activity
            android:name=".util.TestFragmentActivity"
            android:exported="false" />

         <service
         android:name=".service.meta.MetaView"
         android:label="@string/app_name"
         android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
             <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
             </intent-filter>
         </service>

        <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyACt--2aitJjRv_dtbwr0d2evAW-CUx3aU" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACt--2aitJjRv_dtbwr0d2evAW-CUx3aU" />

    </application>

</manifest>